In [22]:
import pandas as pd
import numpy as np
from collections import Counter

In [23]:
# dds_9 = pd.read_excel("data/DDS9_Data_Extract_with_labels.xlsx")
# dds_10 = pd.read_excel("data/DDS10_Data_Extract_with_labels.xlsx")
dds_11 = pd.read_excel("data/DDS11_Data_Extract_with_labels.xlsx")
column_names = pd.read_csv("data/Column Names.csv")

In [24]:
dds_11.columns = column_names['New_Name']

In [25]:
def count_nulls():
    """
    Display a dataframe of the columns and their null counts
    """
    null_counts = dds_11.isna().sum()
    null_counts = pd.DataFrame(null_counts[null_counts  > 0]).reset_index().rename(columns={0:'count'})
    return null_counts

In [26]:
# Replace all "Yes/No" columns with 1/0
def replace_yes_no(df, col):
    """
    This replaces all Yes answers with a 1 and all No/NULL answers with a 0.
    For all NULL answers in a YES/NO column, a 0 is appropriate given that these columns are either ranking questions or questions where NULL means No.
    """
    df[col] = df[col].apply(lambda x: 1 if x == 'Yes' else 0)

In [27]:
# Figure out which columns are yes/no columns
yes_no_cols = [col for col in dds_11.columns if 'Yes' in set(dds_11[col]) or 'No' in set(dds_11[col])]

for col in yes_no_cols:
    replace_yes_no(dds_11, col)

In [28]:
# Replace NULLS in ranking columns with 0
ranking_cols = [col for col in dds_11.columns if col.split('_')[0] == 'rank']
for col in ranking_cols:
    dds_11[col] = dds_11[col].fillna(0)

In [29]:
dds_11['rank_entertainment_news']

0       2.0
1       0.0
2       2.0
3       0.0
4       0.0
       ...
2126    0.0
2127    0.0
2128    0.0
2129    0.0
2130    0.0
Name: rank_entertainment_news, Length: 2131, dtype: float64

In [30]:
count_nulls()

                               New_Name  count
0  amt_willing_to_double_internet_speed    573
1              password_sharing_content   1275

In [31]:
# For Amount Willing to Pay to Double Internet Speed, the NULL values will be replaced with "N/A" since this is a categorical variable
dds_11['amt_willing_to_double_internet_speed'] = dds_11['amt_willing_to_double_internet_speed'].fillna("N/A")

# For Password Sharing Content, the NULL values will be replaced with "N/A" since this is a categorical variable
dds_11['password_sharing_content'] = dds_11['password_sharing_content'].fillna("N/A")

In [32]:
dds_11.to_csv('cleaned_data/dds11.csv', index=False)